<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if @article.comments.any? %>
  <hr />
  <h3>Comments:</h3>
  <% @article.comments.each do |comment| %>
    <p>
      <strong>Commenter: </strong><%= comment.commenter %>
      <br />
      <strong>Comment: </strong><%= comment.body %>
      <%= link_to 'Delete', article_comment_path(@article, comment), method: :delete, data: {
        confirm: "Are you sure you want to delete the comment by #{comment.commenter}?"
      } %>
    </p>
  <% end %>
<% end %>

<hr />
<h3>Add a comment:</h3>
<%= form_with model: [ @article, Comment.new ], local: true do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<hr />

<p><%= link_to 'Edit', edit_article_path(@article) %></p>
<p><%= link_to 'Delete', article_path(@article), method: :delete, data: {
  confirm: "Are you sure you want to delete article no. #{@article.id}?"
} %></p>
<%= link_to 'Home', articles_path %>
